

h1 {
    background-color: rgb(133, 31, 15);
    color: rgb(133, 198, 198);
  }
  
  body {
    background: linear-gradient(to right,#147eac, #208e6b);
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .app-wrapper {
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  h4 {
  font-size: 1.75rem;
  font-family: emoji;
  margin-block: auto;
  text-align: -webkit-auto;
  color: ghostwhite;
  }

h2 {
  font-size: 2.5rem;
  font-family: emoji;
  margin-block: auto;
  text-align: -webkit-auto;
  color: ghostwhite;
  }

  .transparent-shadow {
    background-color: rgb(20 20 20 / 50%);
    box-shadow: -14px 17px 8px 0 rgba(0, 5, 6, 4.2);
    border-radius: 8px;
  }

  /* Footer.css */

.footer {
  padding: 20px;
  text-align: center;
  margin-top: auto;
  width: 100%; /* Optional: Add a shadow */
}

.footer img {
  max-width: 50px; /* Adjust the max-width of the image as needed */
  height: auto;
}



